<!DOCTYPE html >
<html lang = "en" >
<head >
  {% extends "layout.html" %}
  {% block content %}
<meta charset = "UTF-8" >
 <meta name = "viewport" content = "width=device-width, initial-scale=1.0" >
  <title > Document </title >
</head >
<body >

 <h1 > New Tweets Page </h1 >

  <p > Please fill out the form below to add a new tweet to the database </p >

   <form action = "/tweets/create" method = "POST" >

     <label > Tweet: </label >
        <input type = "text" name = "tweet" placeholder = "words in a sentence" value = "words in a sentence" >

        <button > Submit </button >
    </form >
{% endblock %}
</body >
</html >
